table{

    border:5px solid dodgerblue;
    align-items: center;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px lightslategray
    /* width: 5px;
    height: 5px; */
}

td{

    /* border: 1px solid #03a9f4; */
    width: 218px;
    height: 53px;
    text-align: center;
    
    
}

tr:nth-child(odd){

 background-color: #001f3f;
 color: azure;


}

div{

    display: grid;
    /* align-items: center; */
    justify-content: center;
    padding-top: 5rem;
}

.firstrow{

    /* background-color: dodgerblue; */
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    color: azure;
}